MICROSERVICE_NAME=NOTIFICATION_SERVICE

NOTIFICATION_SERVICE_HOST=0.0.0.0
NOTIFICATION_SERVICE_PORT=4007

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

MAIL_FROM=noreply@example.com
MAIL_TOKEN=your-mailtrap-api-token

MAIL_TRAP_SANDBOX=true
MAIL_TRAP_SANDBOX_INBOX_ID='your-mailtrap-sandbox-id'

DB_POOL_MAX=1
