MICROSERVICE_NAME=AUTH_SERVICE

AUTH_SERVICE_HOST=0.0.0.0
AUTH_SERVICE_PORT=4002

PAYMENT_SERVICE_HOST=payment-service
PAYMENT_SERVICE_PORT=4005

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_jwt_refresh_secret"
JWT_OTP_SECRET="your_jwt_otp_secret"
JWT_ACCESS_TOKEN_EXPIRATION="1d"
JWT_REFRESH_TOKEN_EXPIRATION="7d"
JWT_OTP_TOKEN_EXPIRATION="60m"

JWT_2FA_SECRET="your_2fa_secret"
JWT_2FA_TOKEN_EXPIRATION="5m"

OTP_EXPIRY_MINUTES=5
MAX_LOGIN_ATTEMPTS=3

AES_KEY="64_hex_character_encryption_key"
AUTH_GOOGLE_ID="your_google_oauth_client_id"

DB_POOL_MAX=3
