MICROSERVICE_NAME="FINANCE_SERVICE"

FINANCE_SERVICE_HOST=0.0.0.0
FINANCE_SERVICE_PORT=4003

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

AES_KEY="64_hex_character_encryption_key"

DB_POOL_MAX=3
