# App-specific variables only
MICROSERVICE_NAME="AI_SERVICE"

# OpenAI API credentials
OPENAI_API_KEY=sk-proj-1234567890

# Arthropic
ANTHROPIC_API_KEY=<your-key>

# Google
GOOGLE_GEN_AI_API_KEY=""

# Max DB connections for this service (Aiven free tier total: 16)
DB_POOL_MAX=1
