NODE_ENV=development
MICROSERVICE_NAME=AI_SERVICE

AI_SERVICE_HOST=0.0.0.0
AI_SERVICE_PORT=4004

FINANCE_SERVICE_HOST=finance-service
FINANCE_SERVICE_PORT=4003

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

OPENAI_API_KEY="your_openai_api_key"
ANTHROPIC_API_KEY="your_anthropic_api_key"
GOOGLE_GEN_AI_API_KEY="your_google_gen_ai_api_key"
ALPHA_VANTAGE_API_KEY="your_alpha_vantage_api_key"

DB_POOL_MAX=3
