
MICROSERVICE_NAME=API_GATEWAY

API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_PORT=4001

NEXT_PUBLIC_APP_URL=http://localhost:3000

AUTH_SERVICE_HOST=auth-service
AUTH_SERVICE_PORT=4002

FINANCE_SERVICE_HOST=finance-service
FINANCE_SERVICE_PORT=4003

AI_SERVICE_HOST=ai-service
AI_SERVICE_PORT=4004

PAYMENT_SERVICE_HOST=payment-service
PAYMENT_SERVICE_PORT=4005

SCHEDULER_SERVICE_HOST=scheduler-service
SCHEDULER_SERVICE_PORT=4006

NOTIFICATION_SERVICE_HOST=notification-service
NOTIFICATION_SERVICE_PORT=4007

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

AES_KEY="64_hex_character_encryption_key"

CLOUDINARY_URL="cloudinary://api_key:api_secret@cloud_name"
CLOUDINARY_SIGNATURE_EXPIRATION=60m

PAYSTACK_PRO_MONTHLY_PRICE_ID="your_paystack_plan_id"
PAYSTACK_SECRET_KEY="your_paystack_secret_key"

MONO_SECRET_KEY="your_mono_secret_key"
MONO_WEBHOOK_SECRET="your_mono_webhook_secret"

SWAGGER_DOC_USER="docs_user"
SWAGGER_DOC_PASS="docs_password"

FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your_project_id","private_key":"-----BEGIN PRIVATE KEY-----\nyour_private_key\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk@example.iam.gserviceaccount.com"}'

DB_POOL_MAX=3
