MICROSERVICE_NAME="SCHEDULER_SERVICE"

SCHEDULER_SERVICE_HOST=0.0.0.0
SCHEDULER_SERVICE_PORT=4006

DATABASE_URL="postgresql://user:password@host:5432/database"
REDIS_URL="redis://default:password@host:6379"

DB_POOL_MAX=1
